body {
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    margin: 0;
    padding: 2em;
    background-color: white;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
}

#application-title {
    padding: 2em;
    padding-top: 0em;
    font-size: 2rem;
}

.chat-container {
    display: flex;
    max-width: 800px;
    min-width: 800px;
    min-height: 600px;
    max-height: 600px;
    margin: 20px;
    border: 1px solid #ccc;
    background-color: #fff;
    overflow: hidden;
    box-shadow: 20px 12px 16px rgba(0, 0, 0, 0.1);
    border-radius: 8px;
}

.users-list {
    flex: 1;
    border-right: 1px solid #ccc;
    padding: 20px;
    box-sizing: border-box;
    background-color: #3498db;
    color: #fff;
    border-top-left-radius: 8px;
    border-bottom-left-radius: 8px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.users-list-container {
    height: 100%;
    overflow-y: scroll;
}

.users-list h2 {
    font-size: 1.5rem;
    margin-bottom: 10px;
}

.users-list ul {
    list-style: none;
    padding: 0;
    margin: 0;
}

.user-item {
    display: flex;
    align-items: center;
    margin-bottom: 8px;
    cursor: pointer;
    margin-right: 4px;
}

.user-item.active {
    background-color: #cdebff;
    color: #4f4f4f;
    padding: 0.25em;
    border-radius: 3em;
    
}

.user-item img {
    width: 40px;
    height: 40px;
    border-radius: 50%;
    margin-right: 10px;
}

.user-item span {
    font-weight: bold;
}

.separator {
    height: 1px;
    background-color: #ccc;
    margin: 10px 0;
}

.chat-area {
    flex: 3;
    display: flex;
    flex-direction: column;
    padding: 20px;
    box-sizing: border-box;
    border-top-right-radius: 8px;
    border-bottom-right-radius: 8px;
}

.message {
    margin-bottom: 5px;
    border-radius: 5px;
}

#chat-messages {
    display: flex;
    flex-direction: column;
    overflow-y: scroll;
}

.message p {
    padding: 0.5em  0.75em;
    border-radius: 15px;
    word-wrap: break-word;
    margin: 0;
}

.user-item span.nbr-msg {
    margin-left: 10px;
    background-color: #f8fa6f;
    color: white;
    padding: 5px;
    width: 10px;
    border-radius: 50%;
    height: 10px;
}

.sender {
    background-color: #3498db;
    color: #fff;
    align-self: flex-end;
}

.receiver {
    background-color: #ecf0f1;
    color: #333;
    align-self: flex-start;
}

.message-input {
    margin-top: auto;
    display: flex;
}

.message-input input {
    flex: 1;
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 5px;
    margin-right: 10px;
}

.message-input button {
    padding: 1.5em;
    border: none;
    background-color: #3498db;
    background-position: center;
    color: #fff;
    border-radius: 2em;
    cursor: pointer;
}

.user-form {
    width: 40%;
    padding: 3em;
    background-color: #fff;
    box-sizing: border-box;
    box-shadow: 20px 12px 16px rgba(0, 0, 0, 0.1);
    border-radius: 32px;
}

.user-form h2 {
    font-size: 1.5rem;
    text-align: center;
    margin: 0px;
    margin-bottom: 1em;
}

.user-form label {
    display: block;
    margin-bottom: 8px;
}

.user-form input {
    width: 90%;
    padding: 10px 10px;
    border: 1px solid #ccc;
    border-radius: 5px;
    margin-bottom: 20px;
}

.user-form button {
    padding: 1em;
    border: none;
    background-color: #3498db;
    color: #fff;
    border-radius: 5px;
    cursor: pointer;
    width: 80%;
    transition-duration: 2s;
    font-weight: bold;
}

.user-form button:hover {
    background-color: white;
    transition-duration: 500ms;
    transition-timing-function: linear;
    color: #3498db;
}

.hidden {
    display: none;
}

a.logout {
    color: #fff;
    text-decoration: none;
    padding: 0.5em;
    display: flex;
    justify-content: center;
    align-items: center;
}

a.logout:hover {
    background-color: white;
    transition-duration: 500ms;
    transition-timing-function: linear;
    color: #3498db;
    border-radius: 10em;
}

.profile-footer {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}



/* Media Queries (600px) - Mobile support */
@media screen and (max-width: 600px) {
    body {
        padding: 1em;
    }
    .user-form {
        width: 90%;
        padding: 1em;
    }

    .user-form h2 {
        font-size: 1.25rem;
    }

    #application-title {
        padding: 0em;
        padding-bottom: 1em;
        font-size: 1.25rem;
    }

    .chat-container {
        max-width: 100%;
        min-width: 100%;
        min-height: 600px;
        max-height: 600px;
        margin: 0px;
    }

    .chat-area {
        padding: 4px;
    }
}


/* Media Queries (600px - 900px) - Tablet support */
@media screen and (min-width: 600px) and (max-width: 900px) {
    .user-form {
        width: 70%;
        padding: 1em;
    }

    .user-form h2 {
        font-size: 1.5rem;
    }

    .chat-container {
        max-width: 90%;
        min-width: 90%;
        min-height: 600px;
        max-height: 600px;
        margin: 0px;
    }

    #application-title {
        padding: 1em;
        padding-top: 0em;
        font-size: 1.5rem;
    }
}
